{% extends 'base.html' %}

{% block content %}

<form method='GET'>
  <div class="mb-3">
    <label for="movieName" class="form-label">Search for movie:</label>
    <input type="text" class="form-control" id="movieName" name='searchMovie' aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary bg-primary">Search</button>
</form>
<p> search for :{{searchTerm}}</p>
<div class="row row-cols-1 row-cols-md-3 g-4">

{% for movie in movies %}
<div class="col">
  <div class="card">
    <img src="{{movie.image.url}}" alt="{{movie.title}}">
    <div class="card-body">
      <a href="{% url 'detail' movie.id %}">
      <h5 class="card-title">{{movie.title}}</h5>
    </a>
      <p>{{movie.description}}</p>
      {% if movie.url %}
        <a href="{{movie.url}}" class='btn bg-primary'>Movie Link</a>
      {% endif %}
    </div>

  </div>
</div>
{% endfor %}
</div>

{% endblock %}